<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			
			<!--The program files folder-->
			<Directory Id="CommonAppDataFolder">
				<Directory Id="Autodesk" Name="Autodesk">
					<Directory Id="Revit" Name="Revit">
						<Directory Id="Addins" Name="Addins">
							<Directory Id="INSTALLFOLDER2020" Name="2020">
								<Directory Id="INSTALLAPPFOLDER2020" Name="RevitWPFFW"/>
							</Directory>

							<Directory Id="INSTALLFOLDER2021" Name="2021">
								<Directory Id="INSTALLAPPFOLDER2021" Name="RevitWPFFW"/>
							</Directory>

							<Directory Id="INSTALLFOLDER2022" Name="2022">
								<Directory Id="INSTALLAPPFOLDER2022" Name="RevitWPFFW"/>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>

		</Directory>
	</Fragment>
</Wix>
